<!--<form>-->
<!--  <div class="form-group">-->
<!--    <label for="selector">Select a file to upload and analyze.</label>-->
<!--    <input type="file" class="form-control-file" id="selector" data-buttonText="Your label here.">-->
<!--  </div>-->
<!--</form>-->

<!--<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>-->

<!--<div class="form-group">-->
<!--    <input id="demo1" type="file" name="demo" />-->
<!--</div>-->
<!--<script>-->
<!--    $('#demo1').fileselect();-->
<!--    $('#demo').fileselect({-->
<!--      browseBtnClass: 'btn btn-danger'-->
<!--    });-->

<!--</script>-->

<ng2-file-input (onAction)="onAction($event)" drop-text="Drag and drop a file to upload." browse-text="Or select a file"></ng2-file-input> 